Repository clowder-framework/clowder2, pull requests merged in 2023-04, with the labels that each got.

#425 job created timestamp wrong - fixed to local time
  backend/app/models/listeners.py
Labels: bug, backend

#429 Moved Groups to sidebar, added breadcrumbs for group main page and individual group pages
  frontend/src/components/Explore.tsx
  frontend/src/components/Layout.tsx
  frontend/src/components/groups/Group.tsx
  frontend/src/components/groups/Groups.tsx
Labels: enhancement, frontend

#431 Metadata on new file version not updated
  backend/app/routers/metadata_files.py
  frontend/src/components/files/UpdateFile.tsx
Labels: frontend, backend

#444 Fixed the props for search component
  frontend/src/components/search/SearchResult.tsx
Labels: bug, frontend

#458 443 frontend need to display more verbose backend error
  frontend/src/actions/common.js
  frontend/src/components/Explore.tsx
  frontend/src/components/datasets/CreateDataset.tsx
  frontend/src/components/datasets/Dataset.tsx
  frontend/src/components/files/File.tsx
  frontend/src/components/listeners/ExtractionHistory.tsx
Labels: bug, frontend

#471 469 create profile page
  backend/app/routers/users.py
  frontend/src/actions/user.js
  frontend/src/components/Layout.tsx
  frontend/src/components/users/Profile.tsx
  frontend/src/openapi/v2/services/UsersService.ts
  frontend/src/reducers/user.ts
  frontend/src/routes.tsx
  frontend/src/types/action.ts
  frontend/src/types/data.ts
Labels: enhancement, frontend

#472 Implemented role delete in sharing tab
  frontend/src/actions/dataset.js
  frontend/src/components/sharing/GroupAndRoleTableEntry.tsx
  frontend/src/components/sharing/UserAndRoleTableEntry.tsx
  frontend/src/reducers/dataset.ts
Labels: enhancement, frontend

#428 Show Creator on Group Page
  frontend/src/components/groups/Group.tsx
  frontend/src/components/groups/MembersTable.tsx
  frontend/src/components/groups/MembersTableUserEntry.tsx
Labels: frontend
