Repository clowder-framework/clowder2, changes with the owners that CODEOWNERS names for each.
All owners: @lmarini, @max-zilla, @longshuicy

use querystring search
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/search/EmbeddedSearch.tsx
  frontend/src/components/search/LuceneStringSearch.tsx
Owners: @longshuicy

no need to use kbn library to parse string query
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/search/LuceneStringSearch.tsx
Owners: @longshuicy

changes merged, made to match current Listeners
  backend/app/heartbeat_listener_sync.py
Owners: @max-zilla

pipenv lock black formatting
  backend/Pipfile
  backend/Pipfile.lock
  backend/app/heartbeat_listener_sync.py
Owners: @max-zilla

black formatting
  backend/app/config.py
Owners: @max-zilla

fixes
  backend/app/models/metadata.py
  backend/app/routers/datasets.py
  backend/app/routers/files.py
  backend/app/routers/metadata_datasets.py
  backend/app/routers/metadata_files.py
  backend/app/search/config.py
Owners: @max-zilla

adding network to dev file
  docker-compose.dev.yml
Owners: @lmarini

can't get trigger event working
  frontend/src/components/search/LuceneStringSearch.tsx
Owners: @longshuicy

move error boundary to wrap around the result; so still expose searchbox
  frontend/src/components/Layout.tsx
  frontend/src/components/search/EmbeddedSearch.tsx
  frontend/src/components/search/LuceneStringSearch.tsx
  frontend/src/components/search/Search.tsx
  frontend/src/components/search/SearchErrorBoundary.tsx
Owners: @longshuicy

hook it correctly with embedded search too
  frontend/src/components/search/EmbeddedSearch.tsx
  frontend/src/components/search/SearchErrorBoundary.tsx
Owners: @longshuicy

add a button to toggle between string and facet
  frontend/src/components/search/EmbeddedSearch.tsx
  frontend/src/components/search/LuceneStringSearch.tsx
  frontend/src/components/search/Search.tsx
  frontend/src/routes.tsx
Owners: @longshuicy

remove unused import
  frontend/src/routes.tsx
Owners: @longshuicy

CODEOWNERS:

# Always add
*    @lmarini

# Backend
/backend/ @max-zilla

# Frontend
/frontend/ @longshuicy

# Devops
/docker/ @max-zilla @longshuicy
/scripts/ @max-zilla @longshuicy
/.github/ @max-zilla @longshuicy

# Docs
/docs @max-zilla @longshuicy
